p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  from {
    margin-left: 10%;
    width: 33%;
  }

  to {
    margin-left: 55%;
    width: 222%;
  }
}

